# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

character-set-server = utf8
collation-server = utf8_general_ci

#performance
key_buffer_size=384M
myisam_sort_buffer_size=64M
thread_cache_size=8
query_cache_size=64M

# CONNECTION TIMEOUT #
interactive_timeout=60
wait_timeout=60

# SAFETY #
max_connections=250
max-allowed-packet= 1024M
skip-name-resolve

##fulltext 
#Myisam
#ft_min_word_len=2

#InnoDB

innodb_ft_min_token_size=2
innodb_ft_server_stopword_table = ''
innodb_ft_enable_stopword=FALSE
#innodb_ft_aux_table='discuz_s8/pre_forum_thread_test'
# BINARY LOGGING #
server-id=99999
#log-bin=/var/lib/mysql/mysql-bin
#expire-logs-days=7
binlog-ignore-db = mysql
binlog-ignore-db = test
binlog-format= MIXED 
binlog-rows-query-log-events = 1
sync_binlog=1
#sync_binlog=500/1000
max_binlog_size= 250M
#max_allowed_packet =512M


# LOGGING #
log-output=FILE 
#log-output=TABLE 
slow-query-log=1
slow_query_log_file="/var/lib/mysql/slow.log"
long_query_time=2 # slow 2 sceond be record
#log-queries-not-using-indexes
event_scheduler=1

# TMP table location #
#tmpdir=/var/lib/mysql

# CACHES AND LIMITS #
tmp-table-size                 = 32M
max-heap-table-size            = 32M

# defaults timestamp#
explicit_defaults_for_timestamp=1


#Out-files

secure_file_priv=''

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2 ## for redo log
innodb-log-file-size           = 512M  ## for redo log
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 1G
innodb-file-format=Barracuda
## trx lock for timeout  
innodb_lock_wait_timeout = 10
innodb_print_all_deadlocks = 1
innodb_fast_shutdown =0       ## full purge   

## Undo log setting
innodb_undo_tablespaces=2
innodb_undo_log_truncate=1
innodb_max_undo_log_size=104857600
#innodb_file_per_table=1


#Function Build#
log-bin-trust-function-creators=1

# Including skip-character-set-client-handshake here
# obviates the need to include both init-connect in [mysqld]
# and default-character-set in the [client] and [mysql] sections.
skip-character-set-client-handshake

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
sql_mode=''

log-error=/var/lib/mysql/mysqld_error.log
###log-error
pid-file=/var/lib/mysql/mysqld.pid

#Database Performance_schema Setting
performance_schema = on

[mysqld_safe]
#log-error=/var/lib/mysql/mysqld_error.log
#pid-file=/var/lib/mysql/mysqld.pid
#log-error=/var/log/mysqld.log
#log-error=/var/lib/mysql/mysqld_error_1111.log
#pid-file=/var/lib/mysql/mysqld.pid
#pid-file=/var/run/mysqld/mysqld.pid
